<main class="auth-form" data-controller="login">
  <h1 class="auth-form__title">Login</h1>
  <%= form_with(url: login_path) do |form| %>
    <div class="auth-form__field">
      <%= form.label :name %>
      <%= form.text_field :name, autocomplete: "username webauthn"%>
    </div>

    <div class="auth-form__actions">
      <%= form.submit "Login or Register", class: "primary", data: { action: "login#login", challenge: @options.challenge } %>
    </div>
  <% end %>
</main>
