<%= button_to new_task_path, class: "add-task", method: :get, data: { turbo_frame: dom_id(Task.new) } do %>
<!--  <span class="material-symbols-outlined add-task__icon">add</span>-->
  Add Task
<% end %>
