<div class="container">
  <div class="header">
  </div>

  <%= turbo_frame_tag "tasks" do %>
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag Task.new do %>
    <%= render "add_task_btn" %>
  <% end %>

</div>
