<p style="color: green"><%= notice %></p>

<table id="tasks">
  <% @tasks.each do |task| %>
    <%= render partial: "task_row", locals: { task: task } %>
  <% end %>
</table>

<hr>

<%= link_to "Add task", new_task_path, class: "add-task" %>
