.auth-form {
  max-width: var(--auth-max-width);
  margin: 0 auto;
  padding: 15px;
  border-radius: var(--radius-md);
}
.auth-form input {
  box-sizing: border-box;
  margin-bottom: 15px;
  width: 100%;
}
