.menu-container {
    position: relative;
}
.menu-button {
    position: relative;
    border: none;
    background: none;
    padding: 10px;
}
.menu-button:focus {
    outline: none;
    box-shadow: none;
}
.menu-button .material-symbols-outlined {
    font-size: 1.5rem;
    vertical-align: -.25rem;
}
.menu-button .user-avatar {
    width: 1.5rem;
    height: 1.5rem;
}
.menu-navigation {
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 4px;
    background: var(--background-alt);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    width: 200px;
    padding: .25rem;
}
.menu-navigation__header {
    margin: 0 .25rem 0;
    padding: .5rem;
    color: var(--form-text);
    border-bottom: 1px solid var(--border);
}

.menu-list {
    list-style: none;
    padding: .25rem;
    margin: 0;
    border-radius: 6px;
}
.menu-list li {
    border-radius: 4px;
}
.menu-list li:hover {
    background: #ccc;
}
.menu-list>li>button, .menu-list>li>a {
    display: block;
}
.menu-list>li button, .menu-list>li a {
    padding: 6px;
    margin: 0;
    border: none;
    background: none;
    color: var(--form-text);
}
.menu-list li button:focus {
    outline: none;
    box-shadow: none;
}
.menu-list li a:hover {
    text-decoration: none;
}
