.modal-base {
    width: 80vw;
    margin-top: 5vh;
    padding: .75rem;
}
.modal-base::backdrop {
    background: rgba(0, 0, 0, 0.3);
}
.modal-header {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    border-bottom: solid 1px var(--border);
    padding-bottom: 0.5rem;
    align-items: center;
}
.modal-header__title {
    margin: .5rem;
}
.modal-header__close {
    color: var(--form-text);
    border-radius: 6px;
    line-height: 1;
}
.modal-header__close:hover {
    background: rgba(0, 0, 0, 0.1);
}
.modal-body {
    max-height: 75vh;
    padding: 1% .2rem;
}
.modal-body.scrollable {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
