.project-header {
    display: flex;
    justify-content: space-between;
}
.project-name {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}
.project-selector .menu-navigation {
    left: 0;
    min-width: 400px;
}
.project-selector__list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.project-selector__list-item__project-name {
    box-sizing: border-box;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.project-selector__list-item.current-project {
    font-weight: bold;
}
.horizontal-actions.project-selector__list-item__actions {
    gap: 0;
}
.horizontal-actions.project-selector__list-item__actions .material-symbols-outlined {
    font-size: 1.2rem;
}
.horizontal-actions.project-selector__list-item__actions:hover a,
.horizontal-actions.project-selector__list-item__actions:hover button {
    background: inherit;
}
.horizontal-actions.project-selector__list-item__actions a:hover,
.horizontal-actions.project-selector__list-item__actions button:hover {
    scale: 1.2;
}
.project-selector__action {
    padding: .5rem .25rem;
}
.project-selector__add-button {
    font-size: .9rem;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    color: var(--form-text);
}
.project-selector__add-button .material-symbols-outlined {
    display: inline-flex;
    justify-content: center;
    vertical-align: -6px;
    font-size: 1.4rem;
}
.project-selector__add-button:hover  .material-symbols-outlined {
    font-weight: bold;
}

.modal-content.project-form {
    width: 400px;
    /*height: 10rem;*/
}
.project-form__name--input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
}
