.project-header {
    display: flex;
    justify-content: space-between;
}
.project-members .menu-navigation {
    right: 0;
    width: 400px;
}

/* Right menu */
.project-header__right {
    display: flex;
    gap: 0;
}

.menu-list__member {
    display: flex;
    justify-content: space-between;
    padding: .5rem .25rem;
    margin: 0;
    border-radius: 4px;
}
.menu-list__member-info {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.menu-list__member-info .user-avatar {
    width: 1.5rem;
    height: 1.5rem;
}
.project-members__form {
    padding: .5rem;
}
.menu-list__member__actions button:hover {
    scale: 1.2;
    background: inherit;
}

/* Left menu */
.project-name {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}
.project-selector .menu-navigation {
    left: 0;
    min-width: 400px;
}
.project-selector__list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.project-selector__list-item__project-name {
    box-sizing: border-box;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.project-selector__list-item.current-project {
    font-weight: bold;
}
.horizontal-actions.project-selector__list-item__actions {
    gap: 0;
}
.horizontal-actions.project-selector__list-item__actions .material-symbols-outlined {
    font-size: 1.2rem;
}
.horizontal-actions.project-selector__list-item__actions:hover a,
.horizontal-actions.project-selector__list-item__actions:hover button {
    background: inherit;
}
.horizontal-actions.project-selector__list-item__actions a:hover,
.horizontal-actions.project-selector__list-item__actions button:hover {
    scale: 1.2;
}
.project-selector__action {
    padding: .5rem .25rem;
}
.project-selector__add-button {
    font-size: .9rem;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    color: var(--form-text);
}
.project-selector__add-button .material-symbols-outlined {
    font-size: 1.4rem;
    vertical-align: -6px;
}
.project-selector__add-button:hover .material-symbols-outlined {
    scale: 1.2;
}

.modal-content.project-form {
    width: 400px;
    /*height: 10rem;*/
}
.project-form__name--input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
}
