.task-card {
    border-bottom: solid 1px var(--border);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75em;
}

.task-card__content {
    display: flex;
    gap: 0.5em;
    align-items: flex-start;
}
.task-card__complete-check-outer {
}
.task-card__complete-check {
    width: 16px;
    height: 16px;
    border: solid 1px var(--selection);
    border-radius: 50%;
    background: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
.task-card__complete-check:focus {
    outline: none;
    box-shadow: none;
}
.task-card__complete-check:hover {
    background: var(--form-text);
}

.task-card__name {
    display: inline-block;
}
.task-card__name a {
    color: var(--form-text);
}
.task-card__description {
    font-size: 0.8em;
    color: #999;
    margin-top: .5em;
}
.task-card__due-date {
    display: flex;
    gap: 4px;
    font-size: 0.8em;
    color: #999;
    margin-top: .5em;
}
.task-card__due-date .material-symbols-outlined {
    font-size: 1rem;
}

/* Completed */
.task-card.task-card--complete .task-card__name a {
    color: #999;
    text-decoration: line-through;
}
.task-card.task-card--complete .task-card__complete-check {
    background: #999;
}

/* Overdue */
.task-card.overdue .task-card__due-date,
.show-task.overdue .show-task__due-date {
    color: #fc5050;
}

.add-task {
    margin: 8px 0;
}

/* Task Form */
.task-form, .task-suggestion-form {
    border-radius: 8px;
    padding: 1em;
}
.edit-task .task-form {
    border: solid 1px var(--border);
}
.task-form__item {
    margin-bottom: 1em;
}
.task-form__description {
    border: solid 1px var(--border);
    padding: .5em;
    border-radius: 6px;
}
.task-form__description trix-editor:focus {
    box-shadow: 0 0 0 2px var(--focus);
    border-color: transparent;
}

.modal-content.show-task {
    height: 90%;
}
.show-task .modal-header {
    justify-content: right;
}
.show-task__content {
    overflow: scroll;
    scroll-behavior: smooth;
}
.show-task__name {
    margin-top: 0;
}
.show-task__description {
    margin-top: 1em;
    margin-bottom: 3em;
    font-size: 0.9em;
}
.show-task__due-date {
    display: flex;
    gap: 4px;
    margin-top: 0.5em;
    font-size: 0.8em;
}
.show-task__due-date .material-symbols-outlined {
    font-size: 1rem;
}

/* Comment Area */
.task-comments {
    margin-top: 2em;
}
.task-comments__title {
    margin-bottom: 0;
    border-bottom: solid 1px var(--border);
}
.task-comments__history {
    margin-bottom: 1em;
}
.task-comments__content {
    padding-left: .5em;
    padding-right: .5em;
}

.comment-card {
    padding: 0;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75em;
}
.comment-card__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}
.comment-card__header__user {
    font-size: 0.9em;
    font-weight: bold;
}
.comment-card__header__date {
    font-size: 0.8em;
    color: #999;
}

.task-comments__add-comment {
    padding-left: 1em;
    padding-right: 1em;
}
.task-comments__add {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    height: 2em;
    border-radius: 1em;
    border: solid 1px var(--border);
    padding: 0 1em;
    background: var(--background);
}
.task-comments__add:hover {
    background: var(--button-base);
}
.task-comments__form {
    box-sizing: border-box;
}
.task-comments__text-area {
    width: 100%;
    border: solid 1px var(--border);
}

.comment-card__actions {
    display: none;
    visibility: hidden;
}
.comment-card:hover .comment-card__actions {
    visibility: visible;
}

/* assignees */
.assignee-list__member {
    display: flex;
    justify-content: space-between;
    padding: .25rem;
    border-radius: 4px;
}
.assignee-list__member-info {
    flex-grow: 1;
}
.assignee-list__member-info .user-avatar {
    width: 1.5rem;
    height: 1.5rem;
}
.menu-list .assignee-list__member button {
    width: 100%;
    line-height: 2;
    padding: 0;
    text-align: left;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.assignee-list__member button:hover {
    background: inherit;
}
.assignee-list__member-sign .material-symbols-outlined {
    font-size: 1.4rem;
    vertical-align: -.5rem;
}

.assignee-list.assigned .menu-button:hover {
    background: inherit;
}
.assigned-to-me .menu-button--assignee .user-initial-sign {
    background-color: #f2dede;
}
.menu-button--assignee .user-initial-sign:hover {
    background: var(--button-base);
}
.assignee-list__unassign {
    width: 100%;
}

.task-suggestions {
    margin-top: 1rem;
    border-top: solid 1px var(--border);
}
.task-suggestions-title {
    margin-top: .5rem;
}
.task-suggestion {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: .5rem;
    padding: .5rem;
    margin: .5rem 0;
    border-bottom: solid 1px var(--border);
}
input.task-suggestion__checkbox {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-top: .5rem;
/*    border: solid 1px var(--selection);*/
/*    border-radius: 50%;*/
/*    background: none;*/
/*    appearance: none;*/
}
/*input.task-suggestion__checkbox:focus {*/
/*    outline: none;*/
/*    box-shadow: none;*/
/*}*/
/*input.task-suggestion__checkbox:checked {*/
/*    background: var(--form-text);*/
/*}*/
.task-suggestion__main {
    flex-grow: 1;
}
