.task-card {
    border-bottom: solid 1px var(--border);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75em;
}

.task-card__content {
    display: flex;
    gap: 0.5em;
    align-items: flex-start;
}
.task-card__complete-check-outer {
}
.task-card__complete-check {
    width: 18px;
    height: 18px;
    border: solid 1px var(--border);
    border-radius: 50%;
    background: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
.task-card__complete-check:focus {
    outline: none;
    box-shadow: none;
}
.task-card__complete-check:hover {
    background: var(--form-text);
}

.task-card__name {
    display: inline-block;
}
.task-card__name a {
    color: var(--form-text);
}
.task-card__description {
    font-size: 0.8em;
    color: #999;
    margin-top: .5em;
}
.task-card__due-date {
    font-size: 0.8em;
    color: #999;
    margin-top: .5em;
}
.task-card__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    gap: 0.5em;
}
.task-card__actions .material-symbols-outlined {
    color: var(--text-main);
}
.task-card__edit {
    color: var(--text-main);
    border-radius: 6px;
    padding: 2px;
}
.task-card__edit:hover {
    background: rgba(0, 0, 0, 0.1);
}
.task-card__delete {
    background: none;
    border: none;
    padding: 2px;
    margin: 0;
}
.task-card__delete:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* Completed */
.task-card.task-card--complete .task-card__name a {
    color: #999;
    text-decoration: line-through;
}
.task-card.task-card--complete .task-card__complete-check {
    background: #999;
}

/* Overdue */
.task-card--overdue .task-card__due-date {
    color: #fc5050;
}
.task-card--overdue .task-card__due-date .material-symbols-outlined {
    font-size: 1rem;
    vertical-align: -3px;
}

.add-task {
    margin: 8px 0;
}
/*.add-task__icon {*/
/*    display: inline-flex;*/
/*    justify-content: center;*/
/*    vertical-align: -6px;*/
/*}*/

/* Task Form */
.task-form {
    border: solid 1px var(--border);
    border-radius: 8px;
    padding: 1em;
}
.task-form__item {
    margin-bottom: 1em;
}
.task-form__name--input {
    box-sizing: border-box;
    width: 100%;
}
.task-form__description {
    border: solid 1px var(--border);
    padding: .5em;
    border-radius: 6px;
}
.task-form__description trix-editor:focus {
    box-shadow: 0 0 0 2px var(--focus);
    border-color: transparent;
}
.task-form__errors {
    color: #fc5050;
    font-size: 0.9em;
    padding: 0 0 0.5em 0.5em;
}
.task-form__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
}
input.task-form__submit {
}

.modal-base {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*backdrop-filter: blur(1px);*/
    background: rgba(0, 0, 0, 0.3);
}
.show-task {
    --modal-width: 400px;
    position: absolute;
    z-index: 2;
    top: 10%;
    left: calc(50% - var(--modal-width) / 2);
    width: var(--modal-width);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: var(--background);
}
.show-task__header {
    display: flex;
    justify-content: right;
    gap: 0.5em;
    border-bottom: solid 1px var(--border);
}
.show-task__close {
    color: var(--form-text);
    border-radius: 6px;
    line-height: 1;
}
.show-task__close:hover {
    background: rgba(255, 255, 255, 0.1);
}
.show-task__content {
    padding-top: 10px;
}
.show-task__name {
    margin-top: 0;
}
.show-task__description {
    margin-top: 0.5em;
    font-size: 0.9em;
}
.show-task__due-date {
    margin-top: 0.5em;
    font-size: 0.8em;
}

/* Comment Area */
.task-comments {
    margin-top: 1em;
}
.task-comments__title {
    margin-bottom: 0;
    border-bottom: solid 1px var(--border);
}
.task-comments__history {
    margin-bottom: 1em;
}
.task-comments__content {
    padding-left: .5em;
    padding-right: .5em;
}

.comment-card {
    padding: .5em 0 1.5em;
}
.comment-card__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    padding-bottom: 0.2em;
}
.comment-card__header__user {
    font-size: 0.9em;
}
.comment-card__header__date {
    font-size: 0.8em;
    color: #999;
}

.task-comments__add {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    height: 2em;
    border-radius: 1em;
    border: solid 1px var(--border);
    padding: 0 1em;
    background: var(--background);
}
.task-comments__add:hover {
    background: var(--button-base);
}
.task-comments__form {
}
.task-comments__text-area {
    width: 100%;
    border: solid 1px var(--border);
}
.task-comments__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
}
input.task-comments__submit {
}

.comment-card {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75em;
}
.comment-card__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    gap: 0.5em;
    vertical-align: middle;
    visibility: hidden;
}
.comment-card:hover .comment-card__actions {
    visibility: visible;
}
.comment-card__actions .material-symbols-outlined {
    color: var(--text-main);
}
.comment-card__edit {
    color: var(--text-main);
    border-radius: 6px;
    padding: 2px;
}
.comment-card__edit:hover {
    background: rgba(0, 0, 0, 0.1);
}
.comment-card__delete {
    background: none;
    border: none;
    padding: 2px;
    margin: 0;
}
.comment-card__delete:hover {
    background: rgba(0, 0, 0, 0.1);
}
