.show-user .modal-body > form {
  padding: 0 var(--space-2);
}
.show-user__item {
  margin-top: var(--space-2);
  margin-bottom: var(--space-6);
}
.show-user__item > label,
.show-user__item > .field_with_errors > label {
  font-weight: bold;
}
.show-user__item--email label {
  margin-bottom: 0;
}
.show-user__item--email p {
  margin: var(--space-2) 0 var(--space-4);
}
.show-user__item--avatar {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}
.show-user__item--avatar img {
  clip-path: circle(50%);
}

.avatar-upload {
  display: inline-block;
  padding: 8px 10px;
  background: var(--button-base);
  color: var(--form-text);
  border-radius: var(--radius-md);
  cursor: pointer;
  transition:
    background-color 0.1s linear,
    border-color 0.1s linear,
    color 0.1s linear,
    box-shadow 0.1s linear,
    transform 0.1s ease;
}
.avatar-upload:hover {
  background: var(--button-hover);
}

.avatar-upload input[type="file"] {
  display: none;
}
