.show-user__item {
    margin-top: .5rem;
    margin-bottom: 2rem;
}
.show-user__item>label {
    font-weight: bold;
}
.show-user__item--email label {
    margin-bottom: 0;
}
.show-user__item--email p {
    margin: .5rem 0 1rem;
}
.show-user__item--avatar {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.show-user__item--avatar img {
    clip-path: circle(50%);
}

.avatar-upload {
    display: inline-block;
    padding: 8px 10px;
    background: var(--button-base);
    color: var(--form-text);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
}
.avatar-upload:hover {
    background: var(--button-hover);
}

.avatar-upload input[type="file"] {
    display: none;
}

.show-user__notify {
    display: none;
    color: var(--color-error);
}
.show-user__notify.show {
    display: block;
}
