:root {
    --button-primary: #0096bf;
    --button-privary-hover: #007a9d;
    --button-primary-text: #eee;
}
.btn {
    color: var(--form-text);
    background-color: var(--button-base);
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    outline: none;
}
.btn:hover {
    text-decoration: none;
    background: var(--button-hover);
}

input[type="submit"].primary,
button.primary {
    background-color: var(--button-primary);
    color: var(--button-primary-text);
}
input[type="submit"].primary:hover,
button.primary:hover {
    background-color: var(--button-privary-hover);
}
