<header>
  <div class="menu-container" data-controller="menu" data-action="keyup@window->menu#closeWithKeyboard click@window->menu#closeBackground">
    <%= button_tag current_user.name, type: "button", class: "menu-button", data: { action: "menu#toggleMenu" } %>

    <nav id="menu" class="menu-navigation hidden" data-menu-target="menu">
      <ul class="menu-list">
        <li>
          <%= link_to "Setting", "#", class: "menu-list__setting" %>
        </li>
        <li>
          <%= button_to "Logout", logout_path, method: :delete, class: "menu-list__logout-btn" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
